main {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#card {
  border-radius: 1em;
  border: 1px solid white;

  max-height: 80vh;
  overflow: scroll;
}

#card_content {
  padding: 2rem;
}

#card_content_heading {
  text-align: center;
}

#card_title {
  font-size: 2rem;
}

#card_subtitle {
  font-size: 1.25rem;
  opacity: 0.5;
}